#results {
  width: 75vw;
  li {
    display: flex;
    flex-direction: column;
    border: 5px solid grey;
    list-style: none;
    background: lightblue;
    margin: 20px;
    padding: 25px;
  }
  img {
    align-self: center;
    margin: 10px;
    width: 85%;
    text-align: center;
    border: 3px solid black;
    border-radius: 15px;
  }
}