#paging {
  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    margin: 10px;
    height: 4vh;
    background-color: lightblue;
    border: 0px;
    box-shadow: 1px 1px black;
    &:hover {
      border: 3px solid blue;
      box-shadow: 1px 1px red;
    }
  }

}